.page-container {
  position: relative;
  min-height: 100vh;
}

.with-bottom {
  padding-bottom: 120px;
}

.footer {
  height: 100px;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.invisible {
  display: none;
}

.bg-main {
  background-color: #E58F8A;
}

.text-white {
  color: #FFFFFF;
}

.nav-link {
  color: #FFFFFF;
}

.nav-link:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.btn-link {
  background: none;
  border: none;
  cursor: pointer;
}

.card {
  border-radius: 5px;
  border: 0px;
}

.card-img {
  border-radius: 5px;
}

.card-img-overlay {
  top: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 5px 5px;
  padding: 0.6rem;
}

.recipe-card {
  margin: 15px 0 15px 0;
}

.nutrition-facts {
  border: 2px solid #E58F8A;
  border-radius: 5px;
  line-height: 2;
}

.border-main {
  border-color: #E58F8A!important;
}

.text-h5 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500;
}

.small-number-field {
  width: 100px;
}
