.page-container {
  position: relative;
  min-height: 100vh;
}

.container {
  padding-bottom: 120px;
}

.footer {
  height: 100px;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.invisible {
  display: none;
}

.bg-main {
  background-color: #619936;
}

.text-white {
  color: #FFFFFF;
}

.nav-link {
  color: #FFFFFF;
}

.nav-link:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.btn-link {
  background: none;
  border: none;
  cursor: pointer;
}
